:root {
	--color-primary: #af0000;
	--color-secondary: #fff0fb;
	--color-dark: #00000f;
}

body {
	background-color: var(--color-secondary, mistyrose);
	color: var(--color-dark, black);
}

h1,
h2,
h3 {
	color: var(--color-primary, crimson);
}

a.skip-link {
	color: blue;
}
