body {
	counter-reset: section;
}

a.skip-link {
	border: 2px solid var(--color-primary, crimson);
	text-decoration: none;
}

a.skip-link:focus {
	border: none;
	outline: var(--color-primary, crimson) solid 2px;
}

nav ul {
	list-style: none;
}

main article section {
	position: relative;
}

main article section p::before {
	position: absolute;
	left: -2ch;
	counter-increment: section;
	content: counter(section);
	font-weight: bold;
	font-size: 0.75em;
	padding-block-start: 0.3em;
}
