/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1240,22,1.333,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -1: 16.00px → 16.50px */
  --step--1: clamp(1rem, 0.9891rem + 0.0543vw, 1.0313rem);

  /* Step 0: 18.00px → 22.00px */
  --step-0: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);

  /* Step 1: 20.25px → 29.33px */
  --step-1: clamp(1.2656rem, 1.0682rem + 0.987vw, 1.8331rem);

  /* Step 2: 22.78px → 39.09px */
  --step-2: clamp(1.4238rem, 1.0692rem + 1.7728vw, 2.4431rem);

  /* Step 3: 25.63px → 52.11px */
  --step-3: clamp(1.6019rem, 1.0262rem + 2.8783vw, 3.2569rem);
}

body {
	font-family: serif;
	font-size: var(--step-0);
}

h1 {
	font-size: var(--step-3);
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

h4,
h5,
h6 {
	font-size: 1.1em;
}

a.skip-link {
	font-size: var(--step-1);
}

header {
	font-size: var(--step-3);
}

header h1 {
	font-size: 4em;
	text-align: center;
}

header h2,
header p,
header a:not(p > a) {
	font-size: 0.5em;
}

header .container > p,
header .container > a {
	text-transform: lowercase;
	font-size: var(--step--1);
}
