/* @link https://utopia.fyi/type/calculator?c=320,16,1.067,1240,22,1.778,3,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	/* Step 0: 16.00px → 22.00px */
	--step-0: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);

	/* Step 1: 17.07px → 39.12px */
	--step-1: clamp(1.0669rem, 0.5875rem + 2.3967vw, 2.445rem);

	/* Step 2: 18.22px → 69.55px */
	--step-2: clamp(1.1388rem, 0.0229rem + 5.5793vw, 4.3469rem);

	/* Step 3: 19.44px → 123.66px */
	--step-3: clamp(1.215rem, -1.0507rem + 11.3283vw, 7.7288rem);

	--system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	font-family: var(--system-ui);
	font-size: var(--step-0);
}

main,
aside,
a.skip-link {
	font-size: var(--step-0);
}

header {
	font-size: var(--step-3);
}

nav {
	font-size: var(--step-2);
}

footer {
	font-size: var(--step-1);
}

header h1 {
	font-size: 4em;
}

header h2 {
	font-size: 0.875em;
	font-style: italic;
}

header h1,
header h2 {
	text-align: center;
}

header p,
header a:not(p > a) {
	font-size: 0.5em;
}

header .container > p,
header .container > a {
	text-transform: lowercase;
}

header .container > h2 {
	color: red;
}
